# SQL Review

A Relational Database Management System (RDBMS) acts to store and facilitate the retrieval of data.

* Data Definition Language (DDL) Statements: Define, change or drop data
* Data Manipulation Language (DML) Statements: Read and modify data

The Primary Key in a relational database is unique and immutable identifier of each row in a table. Using Primary Keys can help improve querying performance.

A table that contains a Foreign Key is called a Dependent/Child table. A Foreign Key refers to the Primary Key of another table.

#### The Information Model

The Information Model is a conceptual or abstract model that sits above the level of Data Models. One popular example is a Hierarchical Model. 

#### The Relational Model

The Relational Model is the most widely used data model and is based on the mathematical concept of relation and sets. Practically, a relation is made up of Relational Schema and Relational Instance.

* Relation Schema: Specifies the name of a relation and its attributes: ```Entity(Attribute1:Type1, Attribute2:Type2,...AttributeN:TypeN)```
* Relation Instance: A table where each column represents one attribute ("degree") and each row is a tuple ("cardinality")

For example, a table with 5 columns and 10 rows is said to have a degree of 5 and a cardinality of 10.

The **Entity-Relationship Model (ER Model)** is a tool that is used to design relational databases. It consists of different symbols that are organized into diagrams to represent the tables to be created. Entities (rectangles) are comprised of attributes (circles) and are implemented using database tables. Entities can have relationships (diamonds) with other entities: one-to-one, one-to-many and many-to-many.

**Relational Model Constraints** protect data integrity.

* Entity Integrity Constraint: requires that no attribute that has been designated a primary keys can accept ```NULL``` values
* Referential Integrity Constraint: ensures the validity of the data using both primary and foreign keys
* Semantic Integrity Constraint: related to the correctness of the data (application-based rules or business rules)
* Domain Constraint: specifies the permissible values for a given attribute (schema-related)
* NULL Constraint: specifies that attribute values cannot be ```NULL```
* Check Constraint: restricts the acceptable range of values for a given attribute, thereby ensuring domain integrity

```SQL
CREATE TABLE Country (
    id INT NOT NULL,
    country_code CHAR(3) NOT NULL,
    name VARCHAR(50) NOT NULL,
    PRIMARY KEY (id)
);
```

In test, a common practice is to ```DROP``` before doing a ```CREATE```.

```SQL
DROP TABLE COUNTRY;
```

The ```SELECT``` statement is used to read the data. It returns the Result Set aka Result Table.

```SQL
    SELECT * FROM Country
    SELECT country_code, name FROM Country WHERE country_code LIKE '%A%'
```

Use the ```COUNT()``` function to retrieve the number of rows that match a ```SELECT``` query criteria.

```SQL
    SELECT COUNT(name) FROM Country WHERE name LIKE '%Br%'
```

Remove duplicates from a result set with the ```DISTINCT``` keyword.

```SQL
    SELECT DISTINCT Country FROM Medals
```

Limit the number of rows retrieved using ```LIMIT```

```SQL
    SELECT * FROM Country WHERE country_code LIKE '%B%' LIMIT 10
```

You can add one or multiple rows to a table using the ```INSERT``` statement.

```SQL
    INSERT INTO Country (
        (country_code, name)
        VALUES
        ('AUS', 'Australia'),
        ('USA', 'United States')
    )
```

The ```UPDATE``` statement is used to modify existing data. **Caution:** if a ```WHERE``` clause is not specified, all rows of the table will be updated.

```SQL
    UPDATE Country
    SET country_code = 'OMG'
        name = 'Just Kidding'
    WHERE country_code = 'USA'
```

Remove rows with the ```DELETE```statement. **Caution:** if a ```WHERE``` clause is not specified, all rows of the table will be deleted.

```SQL
    DELETE FROM Country
    WHERE id = 1
```

#### Select Techniques

**String Patterns**

```SQL
    SELECT * FROM Country WHERE country_code LIKE 'B%'
```

**Ranges**

```SQL
    SELECT * FROM Country WHERE size BETWEEN 50 AND 1000 -- inclusive
```

**Lists**

```SQL
    SELECT * FROM Country WHERE size IN (20, 30)
```

**Sorting**

```SQL
    SELECT country_code, name FROM Country ORDER BY name DESC -- default: ASC
    SELECT country_code, name FROM Country ORDER BY 2 DESC -- sort based on the second selected column
```

**Eliminate Duplicates**

```SQL
    SELECT DISTINCT(country) FROM Medals
```

The ```GROUP BY``` clause is used to group rows with the same values, enabling the use of aggregate functions such as ```MAX()``` and ```SUM()```. It performs a similar operation to a pivot table in Excel. 

Whereas the ```WHERE``` clause is used to restrict the entire result set, the ```HAVING``` clause is used only with the GROUP BY clause.

```SQL
    SELECT country, COUNT(country) as medal_count
    FROM Medals
    GROUP BY country
    HAVING COUNT(country) > 4
```

#### Built-In Functions

An aggregate function takes a column of values and returns a single value or ```NULL```. Ex: ```MAX()```, ```MIN()```, ```AVG()```. 

A scalar function performs operations on individual values. Ex: ```ROUND()```, ```UCASE()```, ```LCASE()```, ```LENGTH()```.

There are a variety of different built-in datatypes for dates and times. Ex:

* ```DATE```: YYYYMMDD
* ```TIME```: HHMMSS
* ```TIMESTAMP```: YYYYXXDDHHMMSSZZZZZZ (XX represents month and ZZZZZZ represents microseconds)

Functions exist to extract the ```DAY```, ```MONTH```, ```DAYOFMONTH```, ```DAYOFWEEK```, ```DAYOFYEAR```, ```WEEK```, ```HOUR```, ```MINUTE```, ```SECOND```, for example:

```SQL
    SELECT * FROM Sales WHERE MONTH(sell_date) = 5
    SELECT CURRENT DATE - sell_date FROM Sales
```

Get the current date/time using ```GETDATE()``` or special registers ```CURRENT TIME``` and ```CURRENT DATE``` (varies by DB system).

#### Sub-Queries

Sub-queries or sub-selects allow for more complex queries to be constructed, which sidesteps some of the limitations of aggregate functions:

```SQL
    SELECT * FROM Petsale
    WHERE sale_price >
        (SELECT AVG(sale_price) FROM Petsale)
```
Sub-queries can be placed in other parts of the query:

```SQL
    SELECT sale_price, (SELECT AVG(sale_price) FROM Petsale) as avg_sale  FROM Petsale
```

You can also use the ```IN```keyword:

```SQL
    SELECT * FROM Employees
    WHERE dep_id IN
        (SELECT dep_id FROM Departments
         WHERE dep_id > 10)
```

#### Implicit Joins

Connect multiple tables, using a ```WHERE``` clause to filter the result set:

```SQL
    SELECT * FROM Employees e, Departments d
    WHERE e.dep_id = d.id
```

Aliasing is used to simplify queries and qualify column names in the event there are duplicates.